@model int
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Numbers</h1>
    <a href="https://softuni.bg/">SoftUni!</a>
    <a href="number/generator">NumGenerator!</a>
</div>
